@page
@model Web.Pages.MachineModel
@{
}

<div>
    <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <div class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <img class="d-block mx-auto" src="gymmachine.svg" alt="gym machine icon" width="36" height="28">
            <span class="fs-4">Machine Finder</span>
        </div>
    </div>

    <div>
        <h1 class="text-body-emphasis">Machine? We got you!</h1>
        <p class="fs-5 col-md-8">TBA</p>

        <hr class="col-3 col-md-2 mb-5" />
    </div>

    @if (!string.IsNullOrEmpty(Model.Result))
    {
        if (Model.Image != null)
        {
            string imageSrc = $"data:image/png;base64,{Model.Image}";

            <img alt="Uploaded image" width="500" height="600" class="rounded mx-auto d-block" src="@imageSrc" />
            <br/><br/>
        }

        @Html.Raw(Model.Result)
    }
    else
    {
        <div class="mb-3">
            <form method="post" enctype="multipart/form-data">
                <input type="file" asp-for="FileUpload" id="formFile" class="form-control" />
                <label for="formFile" class="form-label">Default file input example</label>
                <input type="submit" />
            </form>
        </div>
    }

</div>