@page
@model Web.Pages.MealPlanModel
@{
    ViewData["Title"] = "Meal Plan Builder";
}


<div>
    <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <div class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <img class="d-block mx-auto" src="mealplan.svg" alt="meal plan icon" width="36" height="28">
            <span class="fs-4">Meal Plan Builder</span>
        </div>
    </div>

    <div>
        <h1 class="text-body-emphasis">Lets build that meal plan!</h1>

        <hr class="col-3 col-md-2 mb-5">
    </div>

    @if(!string.IsNullOrEmpty(Model.Result))
    {
        @if (Model.Result == "False")
        {
            <p>
                An error occurred @{
                    string sad = ":(";
                }. Please go back and try again @sad
            </p>
        }
        else
        {
            @Html.Raw(Model.Result)      
        }       
        
        <br/>
        <a href="/mealplan" class="btn btn-primary" role="button" aria-pressed="true">Go Back</a>
    }
    else
    {
        <form method="post">
            <div class="row g-3">
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-6 pt-0">
                        1. How many calories do you want to consume in a day?
                        Most men require 2500kcal a day, Women require 2000kcal a day.
                    </legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="MealPlanAnswer.Calories" value="1700">
                            1700 kcal
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="MealPlanAnswer.Calories" value="2000">
                            2000 kcal
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="MealPlanAnswer.Calories" value="2300">
                            2300 kcal
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="MealPlanAnswer.Calories" value="2600">
                            2600 kcal
                        </div>
                    </div>
                </fieldset>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-6 pt-0">2. Are you comfortable with intermittent fasting?</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="MealPlanAnswer.EatingSchedule" value="Yes, include intermittent fasting in my meal plan">
                            Yes, include intermittent fasting
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="MealPlanAnswer.EatingSchedule" value="No, do not include intermittent fasting in my meal plan">
                            No, intermittent fasting doesn't work for me
                        </div>
                    </div>
                </fieldset>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-6 pt-0">3. Do you have a specific macronutrient preference?</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="MealPlanAnswer.MacroNutrientsPref" value="I want my meal plan to focus on meals that are low in carbohydrates">
                            Low-carb
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="MealPlanAnswer.MacroNutrientsPref" value="I want my meal plan to focus on meals that are high in protein">
                            Higher-protein
                        </div>
                    </div>
                </fieldset>
            </div>            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    }

</div>